{% extends "polls/base.html" %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            {% if latest_question_list %}
                <div class="list-group">
                    {% for question in latest_question_list %}
                        <a href="{% url 'polls:detail' question.id %}"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <!-- This is an XSS issue as safe is not what you might think-->
                            <span>{{ question.question_text | safe }}</span>
                            <span class="badge badge-secondary">{{ question.vote_count }} votes</span>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="list-group">
                    <div class="list-group-item">No polls have been created.</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}